{% extends "base.html"%}
{% block headear %}
<div class="topnav">
  <a class="active" href="#home">انجام پروپوزال</a>
  <a href="#news">انجام مقاله</a>
  <a href="#contact">ارتباط با ما</a>
  <a href="#about">درباره ما</a>
</div>

{% endblock headear %}
{% block page_title %}

{% endblock page_title %}

{% block page_content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render the form fields -->
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
{% endblock page_content %}